<h1>List of photos</h1>

<ul class="row" id="photos-list">
	<%= render @photos %>
</ul>

<h3>Upload multiple photos</h3>
<%= form_for @photo do |f| %>
	<div class="form-group">
		<%= f.label :author %>
		<%= f.text_field :author, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :image %>
		<%= f.file_field :image, required: true, multiple: true, name: 'photo[image]' %>
	</div>

	<div class="progree-wrapper">
		<div class="progress">
			<div class="progress-bar" role="progressbar">	
				0% 	
			</div>
		</div>
	</div>
	<div class="progress-wrapper">
		<p>Bitrate: <span class="bitrate"></span></p>
		<div class="progress">
			<div class="progress-bar" role="progressbar">
				0%
			</div>
		</div>
	</div>
<% end %>
<script>
	$(document).ready(function() {
		// $('#new_photo').fileupload({datatype: 'script'});
		var multiple_photos_form = $('#new_photo'); 
		multiple_photos_form.fileupload('fileuploadsubmit', function (e, data){
			data.formData = {'photo[author]': $('#photo_author').val()};
		});
	});
	multiple_photos_form.fileupload({
		datatype; 'script', 
		add: function (e, data) {
			types = /(\.|\/)(gif|jpe?g|png|bmp)$/i;
			file = data.files[0]; 
			if (types.test(file.type) || types.test(file.name)) {
				data.submit();
			} 
			else {alert(file.name + " must be GIF, JPEG, BMP or PNG file")}
		}
	var wrapper = multiple_photos_form.find('.progress-wrapper');
	var progress-bar = wrapper.find('.progress-bar');

	multiple_photos_form.on('fileuploaddone', function() {
		wrapper.hide();
		progress-bar.width(0); //Revert progress bars wodth back to 0 for future uploads
	});
	multiple_photos_form.on('fileuploadprogressall', function(e, data) {
		var progress = parseInt(data.loaded / data.total * 100, 10); 
		progress_bar.css('width', progress + '%').text(progress + '%');
	});

	var bitrate = wrapper.find('.bitrate');

	multiple_photos_form.on('fileuploadprogressall', function(e, data) {
		bitrate.text((data.bitrate / 1024).toFixed(2) + 'Kb/s');

		var progress = parseInt(data.loaded / data.total * 100, 10);
		progress_bar.css('width', progress + '%').text(progress + '%');
	});

	});
</script>

<!-- #Check if each file has correct formatm if yes submit using user submit -->